<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ddl.mapper.ActivityMapper">

    <resultMap id="BaseResultMap" type="com.ddl.entity.Activity">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="ownerId" column="owner_id" jdbcType="INTEGER"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="startTime" column="start_time" jdbcType="TIMESTAMP"/>
            <result property="endTime" column="end_time" jdbcType="TIMESTAMP"/>
            <result property="cost" column="cost" jdbcType="DECIMAL"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="createBy" column="create_by" jdbcType="INTEGER"/>
            <result property="editTime" column="edit_time" jdbcType="TIMESTAMP"/>
            <result property="editBy" column="edit_by" jdbcType="INTEGER"/>
    </resultMap>

    <resultMap id="ActivityResultMap" type="com.ddl.entity.Activity">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="ownerId" column="owner_id" jdbcType="INTEGER"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="startTime" column="start_time" jdbcType="TIMESTAMP"/>
        <result property="endTime" column="end_time" jdbcType="TIMESTAMP"/>
        <result property="cost" column="cost" jdbcType="DECIMAL"/>
        <result property="description" column="description" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="createBy" column="create_by" jdbcType="INTEGER"/>
        <result property="editTime" column="edit_time" jdbcType="TIMESTAMP"/>
        <result property="editBy" column="edit_by" jdbcType="INTEGER"/>
        <association property="ownerDO" javaType="com.ddl.entity.User">
            <id property="id" column="ownerId" jdbcType="INTEGER"/>
            <result property="name" column="ownerName" jdbcType="VARCHAR"/>
        </association>
    </resultMap>

    <sql id="Base_Column_List">
        id,owner_id,name,
        start_time,end_time,cost,
        description,create_time,create_by,
        edit_time,edit_by
    </sql>

    <select id="selectActivityByPage" resultMap="ActivityResultMap">
        select
        ta.*,
        tu.id ownerId,
        tu.name ownerName
        from t_activity AS ta
        left join t_user tu on ta.owner_id = tu.id
        <where>
            <if test="ownerId !=null">
                and ta.owner_id = #{ownerId}
            </if>
            <if test="name !=null">
                and ta.name like concat ('%', #{name}, '%')
            </if>
            <if test="startTime !=null">
                and ta.start_time >= #{startTime}
            </if>
            <if test="endTime !=null">
                <![CDATA[ and ta.end_time <= #{endTime} ]]>
            </if>
            <if test="cost !=null">
                and ta.cost >= #{cost}
            </if>
            <if test="createTime !=null">
                and ta.create_time >= #{createTime}
            </if>
            ${filterSQL}
        </where>
    </select>

</mapper>
