<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ddl.mapper.ProductMapper">

    <resultMap id="BaseResultMap" type="com.ddl.entity.Product">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="guidePriceS" column="guide_price_s" jdbcType="DECIMAL"/>
            <result property="guidePriceE" column="guide_price_e" jdbcType="DECIMAL"/>
            <result property="quotation" column="quotation" jdbcType="DECIMAL"/>
            <result property="state" column="state" jdbcType="INTEGER"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="createBy" column="create_by" jdbcType="INTEGER"/>
            <result property="editTime" column="edit_time" jdbcType="TIMESTAMP"/>
            <result property="editBy" column="edit_by" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,guide_price_s,
        guide_price_e,quotation,state,
        create_time,create_by,edit_time,
        edit_by
    </sql>
</mapper>
