<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ddl.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.ddl.entity.User">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="loginAct" column="login_act" jdbcType="VARCHAR"/>
            <result property="loginPwd" column="login_pwd" jdbcType="VARCHAR"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="phone" column="phone" jdbcType="VARCHAR"/>
            <result property="email" column="email" jdbcType="VARCHAR"/>
            <result property="accountNoExpired" column="account_no_expired" jdbcType="INTEGER"/>
            <result property="credentialsNoExpired" column="credentials_no_expired" jdbcType="INTEGER"/>
            <result property="accountNoLocked" column="account_no_locked" jdbcType="INTEGER"/>
            <result property="accountEnabled" column="account_enabled" jdbcType="INTEGER"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="createBy" column="create_by" jdbcType="INTEGER"/>
            <result property="editTime" column="edit_time" jdbcType="TIMESTAMP"/>
            <result property="editBy" column="edit_by" jdbcType="INTEGER"/>
            <result property="lastLoginTime" column="last_login_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <resultMap id="UserResultMap" type="com.ddl.entity.User">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="loginAct" column="login_act" jdbcType="VARCHAR"/>
        <result property="loginPwd" column="login_pwd" jdbcType="VARCHAR"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="phone" column="phone" jdbcType="VARCHAR"/>
        <result property="email" column="email" jdbcType="VARCHAR"/>
        <result property="accountNoExpired" column="account_no_expired" jdbcType="INTEGER"/>
        <result property="credentialsNoExpired" column="credentials_no_expired" jdbcType="INTEGER"/>
        <result property="accountNoLocked" column="account_no_locked" jdbcType="INTEGER"/>
        <result property="accountEnabled" column="account_enabled" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="createBy" column="create_by" jdbcType="INTEGER"/>
        <result property="editTime" column="edit_time" jdbcType="TIMESTAMP"/>
        <result property="editBy" column="edit_by" jdbcType="INTEGER"/>
        <result property="lastLoginTime" column="last_login_time" jdbcType="TIMESTAMP"/>
        <!--一对一关联-->
        <association property="createByDO" javaType="com.ddl.entity.User">
            <id property="id" column="createById" jdbcType="INTEGER"/>
            <result property="name" column="createByName" jdbcType="VARCHAR"/>
        </association>
        <association property="editByDO" javaType="com.ddl.entity.User">
            <id property="id" column="editById" jdbcType="INTEGER"/>
            <result property="name" column="editByName" jdbcType="VARCHAR"/>
        </association>
    </resultMap>


    <sql id="Base_Column_List">
        id,login_act,login_pwd,
        name,phone,email,
        account_no_expired,credentials_no_expired,account_no_locked,
        account_enabled,create_time,create_by,
        edit_time,edit_by,last_login_time
    </sql>

    <select id="selectByLoginAct" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
            from t_user
        where login_act = #{username}
    </select>

    <select id="selectUserByPage" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from t_user
    </select>

    <select id="selectDetailById" parameterType="java.lang.Integer" resultMap="UserResultMap">
        SELECT tu.*,
               tu2.id   AS createById,
               tu2.NAME AS createByName,
               tu3.id   AS editById,
               tu3.NAME AS editByName
        FROM t_user AS tu
                 JOIN t_user AS tu2 ON tu.create_by = tu2.id
                 JOIN t_user AS tu3 ON tu.edit_by = tu3.id
        WHERE tu.id = #{id}
    </select>

    <insert id="insert" parameterType="com.ddl.entity.User">
        insert into t_user(login_act,login_pwd,
                           name,phone,email,
                           account_no_expired,credentials_no_expired,
                           account_no_locked,account_enabled,
                           create_time,create_by,
                           edit_time,edit_by)
        values (#{loginAct},#{loginPwd}
                ,#{name},#{phone},#{email},
                #{accountNoExpired},#{credentialsNoExpired},
                #{accountNoLocked},#{accountEnabled},
                #{createTime},#{createBy},
                #{editTime},#{editBy})
    </insert>

    <update id="updateUserById" parameterType="com.ddl.entity.User">
        update t_user
        <set>
            <if test="loginAct != null">
                login_act = #{loginAct},
            </if>
            <if test="loginPwd != null and loginPwd != '' ">
                login_pwd = #{loginPwd},
            </if>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="phone != null">
                phone = #{phone},
            </if>
            <if test="email != null">
                email = #{email},
            </if>
            <if test="accountNoExpired != null">
                account_no_expired = #{accountNoExpired},
            </if>
            <if test="credentialsNoExpired != null">
                credentials_no_expired = #{credentialsNoExpired},
            </if>
            <if test="accountNoLocked != null">
                account_no_locked = #{accountNoLocked},
            </if>
            <if test="accountEnabled != null">
                account_enabled = #{accountEnabled},
            </if>
            <if test="editTime != null">
                edit_time = #{editTime},
            </if>
            <if test="editBy != null">
                edit_by = #{editBy},
            </if>
        </set>
        where id = #{id}
    </update>

    <delete id="delUserById" parameterType="java.lang.Integer">
        delete from t_user
        where id = #{id}
    </delete>

    <delete id="batchDelUserByIds" parameterType="java.util.List">
        delete from t_user
        where id in
        <foreach collection="idList" item="id" open="(" close=")" separator=",">
            #{id,jdbcType=INTEGER}
        </foreach>
    </delete>

</mapper>
